body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://raw.githubusercontent.com/Abhinayii/CN-law-website/refs/heads/main/Picsart_25-03-26_01-07-18-396.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}
